<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="CassandraIp" value="192.168.1.103"/>
    <add key="CassandrPort" value="9042"/>
    <add key="CassandraUserName" value=""/>
    <add key="CassandraPassword" value=""/>
    <add key="CetntralCassandraServiceURL" value=""/>
    <add key="CetntralCassandraServiceURL" value="127.0.0.1:8786"/>
    <add key="BufferSize" value="50"/>
    <add key="BufferDelayForSending" value="50"/>

    <add key="SignalIdListFile" value="C:\Users\vishw\Desktop\DataToBeBackedUp.csv"/>
    <add key="SuccessfullLinesCopiedFile" value="SuccessLines.txt"/>
    <add key="FailedLinesCopiedFile" value="FailedLines.txt"/>
  </appSettings>
</configuration>